<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ada047c-6dfc-4a14-afc4-7efb79390f92" Alias="Product - Photos - Media Picker" Level="1">
  <Info>
    <Name>Product - Photos - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>