<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-12-07T13:16:57</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6866124b5d3245478b5860bc20a47569",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "udi": "umb://element/6866124b5d3245478b5860bc20a47569",
      "richText": "<?UMBRACO_MACRO macroAlias=\"latestBlogposts\" numberOfPosts=\"3\" startNodeId=\"umb://document/1d770f10d1ca4a269d68071e2c9f7ac1\" />"
    }
  ],
  "settingsData": []
}]]></Value>
    </bodyText>
    <colorTheme>
      <Value><![CDATA[earth]]></Value>
    </colorTheme>
    <font>
      <Value><![CDATA[serif]]></Value>
    </font>
    <footerAddress>
      <Value><![CDATA[Umbraco HQ - Unicorn Square - Buchwaldsgade 35, 2nd floor - 5000 Odense C - Denmark - +45 70 26 11 62]]></Value>
    </footerAddress>
    <footerCTACaption>
      <Value><![CDATA[Read All on the Blog]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value><![CDATA[umb://document/1d770f10d1ca4a269d68071e2c9f7ac1]]></Value>
    </FooterCtalink>
    <footerDescription>
      <Value><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat]]></Value>
    </footerDescription>
    <footerHeader>
      <Value><![CDATA[Umbraco Demo]]></Value>
    </footerHeader>
    <HeroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "9d043312-9249-491a-9a8e-58a0aa2e5535",
    "mediaKey": "662af6ca-411a-4c93-a6c7-22c4845698e7"
  }
]]]></Value>
    </HeroBackgroundImage>
    <heroCTACaption>
      <Value><![CDATA[Check our products]]></Value>
    </heroCTACaption>
    <HeroCtalink>
      <Value><![CDATA[umb://document/ec4aafcc0c254f25a8fe705bfae1d324]]></Value>
    </HeroCtalink>
    <heroDescription>
      <Value><![CDATA[Moonfish, steelhead, lamprey southern flounder tadpole fish sculpin bigeye, blue-redstripe danio collared dogfish. Smalleye squaretail goldfish arowana butterflyfish pipefish wolf-herring jewel tetra, shiner; gibberfish red velvetfish. Thornyhead yellowfin pike threadsail ayu cutlassfish.]]></Value>
    </heroDescription>
    <heroHeader>
      <Value><![CDATA[Umbraco Demo]]></Value>
    </heroHeader>
    <SiteLogo>
      <Value><![CDATA[[]]]></Value>
    </SiteLogo>
    <sitename>
      <Value><![CDATA[Umbraco Sample Site]]></Value>
    </sitename>
  </Properties>
</Content>