<?xml version="1.0" encoding="utf-8"?>
<DataType Key="caeb30b9-c974-469a-9e26-4787d50d2922" Alias="UmbNav" Level="1">
  <Info>
    <Name>UmbNav</Name>
    <EditorAlias>AaronSadler.UmbNav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 1,
  "RemoveNaviHideItems": false,
  "ExpandOnHover": true,
  "ExpandOnHoverTimeout": 2500,
  "HideNoopener": false,
  "HideNoreferrer": false,
  "HideIncludeChildren": false,
  "AllowDisplay": true,
  "HideLabel": true
}]]></Config>
</DataType>