<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5581ca63-97e8-4971-93c7-668beb655b53" Alias="Home - Logo - Media Picker" Level="1">
  <Info>
    <Name>Home - Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics,Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>