<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49692f99-5b8d-4aa9-9308-b379fc70d48e" Alias="Home - UmbNav - UmbNav" Level="1">
  <Info>
    <Name>Home - UmbNav - UmbNav</Name>
    <EditorAlias>AaronSadler.UmbNav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowCustomClasses": false,
  "AllowDisplay": false,
  "AllowDisplayAsLabel": true,
  "AllowImageIcon": false,
  "AllowLabels": true,
  "AllowMenuItemDescriptions": false,
  "ExpandOnHover": true,
  "ExpandOnHoverTimeout": 500,
  "HideIncludeChildren": false,
  "HideLabel": false,
  "HideNoopener": false,
  "HideNoreferrer": false,
  "MaxDepth": 0,
  "RemoveNaviHideItems": false,
  "ShowTopAddButton": true
}]]></Config>
</DataType>