<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2db7b991-cd04-4755-a088-097fa7f89a9f" Alias="UmbNav - UmbNavPE - UmbNav" Level="1">
  <Info>
    <Name>UmbNav - UmbNavPE - UmbNav</Name>
    <EditorAlias>AaronSadler.UmbNav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "HideLabel": false,
  "RemoveNaviHideItems": false,
  "HideNoopener": false,
  "HideNoreferrer": false,
  "HideIncludeChildren": false,
  "AllowDisplay": false,
  "AllowDisplayAsLabel": false,
  "AllowCustomClasses": true,
  "AllowImageIcon": false,
  "AllowLabels": true,
  "ExpandOnHover": false,
  "ExpandOnHoverTimeout": 0,
  "ShowTopAddButton": true
}]]></Config>
</DataType>