<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d745146e-74f7-447c-b982-cb196b3b70d5" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="656a4d2a-b182-4a66-89a2-8a38fb229a10">contentBase</Composition>
      <Composition Key="b920ea4d-fb3c-4a5f-89c9-32d373861edb">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="51a54bd8-18a3-4699-8c07-02d4e4820f0b">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d745146e-74f7-447c-b982-cb196b3b70d5" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>