<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="93d58f86-e452-495e-8ad7-18cb73b292bc" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-map-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="b920ea4d-fb3c-4a5f-89c9-32d373861edb">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="efd9e08b-d425-41ad-9086-55a4c5f79e72">contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>066a5a7d-0299-422c-a08f-615a929609a2</Key>
      <Name>Pick a Contact Form</Name>
      <Alias>contactForm</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If Umbraco Forms is installed you'll be able to select a form]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5a69d62-eb74-460e-ace9-1471eb509ffb</Key>
      <Name>Contact Form Header</Name>
      <Alias>contactFormHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f7ec8b9-e874-46d1-9cf1-fc057135374b</Key>
      <Name>Contact Intro</Name>
      <Alias>contactIntro</Alias>
      <Definition>ecbbac0d-974e-490c-b533-fead926dc525</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>74f65bf0-4435-4284-9f62-30a1e856e9fa</Key>
      <Name>Map Coordinates</Name>
      <Alias>mapCoordinates</Alias>
      <Definition>fc1475d2-7c7b-4b2f-bc53-54c86fd43d6c</Definition>
      <Type>Our.Umbraco.OsmMaps</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2b80a7a-12aa-4d05-a910-9e17e5819699</Key>
      <Name>Map Header</Name>
      <Alias>mapHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Map</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be0970c6-b722-460a-b69e-79d4bb7e8f70</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the page, this is also the first text in a google search result. The ideal length is between 40 and 60 characters]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Form</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Map</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>