<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="79392548-65f8-4cce-a6bb-da1ff40944b6" Alias="login" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="78cb9982-fa4c-470a-9e69-bbd0ee005fd5">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>