<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e876b62-c7e2-45d1-9cd5-47c86298c7e9" Alias="logout" Level="1">
  <Info>
    <Name>Logout</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Logout</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6035d81a-8936-48aa-9835-8d545c5475ce">Logout</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>