<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5efabaa5-e7df-44c1-8c42-9d3837f0809d" Alias="umbNav" Level="1">
  <Info>
    <Name>UmbNav</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ed5df192-95cb-4923-a462-d52a09892147</Key>
      <Name>UmbNavPE</Name>
      <Alias>umbNavPE</Alias>
      <Definition>caeb30b9-c974-469a-9e26-4787d50d2922</Definition>
      <Type>AaronSadler.UmbNav</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>UmbNav</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>UmbNav</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>