<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d770f10-d1ca-4a26-9d68-071e2c9f7ac1" Alias="Blog" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2021-07-08T13:23:15</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="afb721f8-894d-4fd3-bc68-8cbec9fcf8df">Blog</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <disqusShortname>
      <Value><![CDATA[]]></Value>
    </disqusShortname>
    <howManyPostsShouldBeShown>
      <Value><![CDATA[2]]></Value>
    </howManyPostsShouldBeShown>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Behind The Scenes]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>