<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dcd07eb-d51e-4ac6-90a2-d1a72d1d5430" Alias="UmbNav" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/UmbNav</Path>
    <Trashed>false</Trashed>
    <ContentType>umbNav</ContentType>
    <CreateDate>2021-07-08T14:01:52</CreateDate>
    <NodeName Default="UmbNav" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <mNTP>
      <Value><![CDATA[umb://document/616d0f54b8b0450ebe0d2ca4c06672a2,umb://document/eab72f13b22e46d5b2709c196e49a53b]]></Value>
    </mNTP>
    <umbNavPE>
      <Value><![CDATA[[
  {
    "id": 1104,
    "udi": "umb://document/ca4249ed2b234337b52263cabe5587d1",
    "name": "Home",
    "description": "/",
    "url": "/",
    "children": [
      {
        "id": 1105,
        "udi": "umb://document/ec4aafcc0c254f25a8fe705bfae1d324",
        "name": "Products",
        "description": "/products/",
        "url": "/products/",
        "children": [],
        "icon": "icon-shopping-basket color-black",
        "published": true,
        "naviHide": false,
        "culture": "undefined",
        "noopener": "noopener",
        "noreferrer": "noreferrer",
        "includeChildNodes": true,
        "collapsed": false
      }
    ],
    "icon": "icon-home color-black",
    "published": true,
    "naviHide": false,
    "culture": "undefined",
    "collapsed": true,
    "hideLoggedOut": false,
    "itemType": "link",
    "imageUrl": "1139",
    "image": [
      {
        "name": "Jan Skovgaard",
        "id": 1140,
        "udi": "umb://media/cf1ab8dcad0f4a8e974b87b84777b0d6",
        "icon": "icon-picture",
        "trashed": false,
        "key": "cf1ab8dc-ad0f-4a8e-974b-87b84777b0d6",
        "parentId": 1129,
        "alias": null,
        "path": "-1,1129,1140",
        "metaData": {
          "ContentTypeAlias": "Image",
          "UpdateDate": "2021-07-08 13:23:19",
          "MediaPath": "/media/g2afpl2w/18720470241_ff77768544_h.jpg",
          "IsContainer": false
        },
        "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fg2afpl2w%2F18720470241_ff77768544_h.jpg&rnd=0.9369279073083674",
        "image": "/media/g2afpl2w/18720470241_ff77768544_h.jpg",
        "updateDate": "2021-07-08 13:23:19",
        "filtered": null,
        "isFolder": false,
        "width": "150",
        "height": 150,
        "aspectRatio": 1,
        "selectable": true,
        "flexStyle": {
          "flex": "1 1 150px",
          "max-width": "150px",
          "min-width": "100px",
          "min-height": "100px"
        },
        "selected": true
      }
    ]
  },
  {
    "description": "http://www.google.com",
    "title": "Hide",
    "url": "http://www.google.com",
    "children": [
      {
        "title": "Label",
        "children": [],
        "icon": "icon-tag",
        "itemType": "nolink",
        "collapsed": false,
        "image": [
          {
            "name": "Jeavon Leopold",
            "id": 1143,
            "udi": "umb://media/c0969cab13ab4de9819a848619ac2b5d",
            "icon": "icon-picture",
            "trashed": false,
            "key": "c0969cab-13ab-4de9-819a-848619ac2b5d",
            "parentId": 1129,
            "alias": null,
            "path": "-1,1129,1143",
            "metaData": {
              "ContentTypeAlias": "Image",
              "UpdateDate": "2021-07-08 13:23:20",
              "MediaPath": "/media/bilhgyx5/18095416144_44a566a5f4_h.jpg",
              "IsContainer": false
            },
            "thumbnail": "/umbraco/backoffice/UmbracoApi/Images/GetBigThumbnail?originalImagePath=%2Fmedia%2Fbilhgyx5%2F18095416144_44a566a5f4_h.jpg&rnd=0.7586798823010312",
            "image": "/media/bilhgyx5/18095416144_44a566a5f4_h.jpg",
            "updateDate": "2021-07-08 13:23:20",
            "filtered": null,
            "isFolder": false,
            "width": "150",
            "height": 150,
            "aspectRatio": 1,
            "selectable": true,
            "flexStyle": {
              "flex": "1 1 150px",
              "max-width": "150px",
              "min-width": "100px",
              "min-height": "100px"
            },
            "selected": true
          }
        ],
        "customClasses": "test"
      }
    ],
    "icon": "icon-link",
    "itemType": "link",
    "collapsed": false
  },
  {
    "id": 1114,
    "udi": "umb://document/e8ad9b65cff64952ac5befe56a60db62",
    "name": "People",
    "description": "/people/",
    "url": "/people/",
    "children": [
      {
        "id": 1115,
        "udi": "umb://document/616d0f54b8b0450ebe0d2ca4c06672a2",
        "name": "Jan Skovgaard",
        "description": "/people/jan-skovgaard/",
        "url": "/people/jan-skovgaard/",
        "children": [],
        "icon": "icon-user-female color-black",
        "published": true,
        "naviHide": false,
        "culture": "undefined",
        "itemType": "link"
      }
    ],
    "icon": "icon-user-females-alt color-black",
    "published": true,
    "naviHide": false,
    "culture": "undefined",
    "itemType": "link"
  }
]]]></Value>
    </umbNavPE>
  </Properties>
</Content>