<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f2c9f61-f544-466c-a048-33d057ad8ee0" Alias="UmbNav" Level="1">
  <Info>
    <Name>UmbNav</Name>
    <EditorAlias>AaronSadler.UmbNav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "HideLabel": false,
  "RemoveNaviHideItems": false,
  "HideNoopener": false,
  "HideNoreferrer": false,
  "HideIncludeChildren": false,
  "AllowDisplay": false,
  "AllowDisplayAsLabel": false,
  "AllowCustomClasses": false,
  "AllowImageIcon": false,
  "AllowLabels": false,
  "ExpandOnHover": true,
  "ExpandOnHoverTimeout": 500,
  "ShowTopAddButton": true
}]]></Config>
</DataType>