<div ng-controller="AaronSadler.UmbNav.Settings.Controller as vm" class="umb-linkpicker">

    <umb-editor-view>

        <umb-editor-header name="model.title"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <umb-editor-container class="block-form">
            <umb-box>
                <umb-box-header ng-if="!vm.loading" title="{{vm.labels.menuItem}}"></umb-box-header>
                <umb-box-content>
                    <umb-control-group ng-if="allowLabels" label="@umbnav_itemType">
                        <div class="umb-property-editor">
                            <div class=" flex items-center">
                                <select ng-model="model.target.itemType">
                                    <option value="{{vm.labels.itemTypes.link.value}}">{{vm.labels.itemTypes.link.label}}</option>
                                    <option value="{{vm.labels.itemTypes.label.value}}">{{vm.labels.itemTypes.label.label}}</option>
                                </select>
                                <div class="ml2">
                                    {{vm.labels.linkTypeDescription}}
                                </div>
                            </div>
                        </div>
                    </umb-control-group>
                    <div ng-if="model.target.itemType == 'link'">
                        <div ng-class="{'flex': showAnchor}">

                            <umb-control-group label="@defaultdialogs_urlLinkPicker" class="umb-linkpicker__url">
                                <input type="text"
                                       style="margin-right: 10px;"
                                       localize="placeholder"
                                       placeholder="@general_url"
                                       class="umb-property-editor umb-textstring"
                                       ng-model="model.target.url"
                                       umb-auto-focus
                                       ng-disabled="model.target.id || model.target.udi" />
                            </umb-control-group>

                            <umb-control-group label="@defaultdialogs_anchorLinkPicker" class="umb-linkpicker__anchor" ng-if="showAnchor">
                                <input type="text"
                                       list="anchors"
                                       localize="placeholder"
                                       placeholder="@placeholders_anchor"
                                       class="umb-property-editor umb-textstring"
                                       ng-model="model.target.anchor" />

                                <datalist id="anchors">
                                    <option value="{{a}}" ng-repeat="a in anchorValues"></option>
                                </datalist>
                            </umb-control-group>
                        </div>
                        <umb-control-group label="@general_name"
                                           ng-if="model.target.name">
                            {{model.target.name}}
                        </umb-control-group>

                        <umb-control-group label="@defaultdialogs_nodeNameLinkPicker">
                            <input type="text"
                                   localize="placeholder"
                                   placeholder="@placeholders_entername"
                                   class="umb-property-editor umb-textstring"
                                   ng-model="model.target.title"
                                   ng-required="!model.target.name" />
                        </umb-control-group>

                        <div class="umb-control-group">
                            <h5>
                                <localize key="defaultdialogs_linkToPage">Link to page</localize>
                            </h5>

                            <div ng-hide="miniListView">
                                <umb-tree-search-box hide-search-callback="hideSearch"
                                                     search-callback="onSearchResults"
                                                     search-from-id="{{searchInfo.searchFromId}}"
                                                     search-from-name="{{searchInfo.searchFromName}}"
                                                     datatype-key="{{searchInfo.dataTypeKey}}"
                                                     show-search="{{searchInfo.showSearch}}"
                                                     section="{{section}}">
                                </umb-tree-search-box>

                                <br />

                                <umb-tree-search-results ng-if="searchInfo.showSearch"
                                                         results="searchInfo.results"
                                                         select-result-callback="selectResult">
                                </umb-tree-search-results>

                                <div ng-hide="searchInfo.showSearch">
                                    <umb-tree section="content"
                                              hideheader="true"
                                              hideoptions="true"
                                              api="dialogTreeApi"
                                              on-init="onTreeInit()"
                                              enablelistviewexpand="true"
                                              isdialog="true"
                                              enablecheckboxes="true"
                                              customtreeparams="{{customTreeParams}}">
                                    </umb-tree>
                                </div>
                            </div>

                            <umb-mini-list-view ng-if="miniListView"
                                                node="miniListView"
                                                entity-type="Document"
                                                on-select="selectListViewNode(node)"
                                                on-close="closeMiniListView()">
                            </umb-mini-list-view>

                        </div>
                    </div>
                    <div ng-if="model.target.itemType == 'nolink'">
                        <umb-control-group label="@umbnav_title">
                            <input type="text"
                                   localize="placeholder"
                                   placeholder="@placeholders_entername"
                                   class="umb-property-editor umb-textstring"
                                   ng-model="model.target.title"
                                   ng-required="!model.target.name" />
                        </umb-control-group>
                    </div>
                </umb-box-content>
            </umb-box>
            <umb-box>
                <umb-box-header ng-if="!vm.loading" title="{{vm.labels.configuration}}" ng-click="vm.showAdvanced = !vm.showAdvanced" style="cursor: pointer;">
                    <i class="icon icon-navigation-up" ng-if="vm.showAdvanced" title="expand"></i>
                    <i class="icon icon-navigation-down" ng-if="!vm.showAdvanced" title="collapse"></i>
                </umb-box-header>
                <umb-box-content ng-if="vm.showAdvanced">
                    <umb-control-group ng-if="showDisplay && model.target.itemType == 'link'" label="@umbnav_visibility">
                        <umb-checkbox model="vm.hideLoggedIn"
                                      on-change="vm.toggleDisplayLoggedIn(model, value)"
                                      text="{{vm.labels.hideLoggedIn}}">
                        </umb-checkbox>

                        <umb-checkbox model="vm.hideLoggedOut"
                                      on-change="vm.toggleDisplayLoggedOut(model, value)"
                                      text="{{vm.labels.hideLoggedOut}}">
                        </umb-checkbox>
                    </umb-control-group>

                    <umb-control-group ng-if="showTarget && model.target.itemType == 'link'" label="@content_target">
                        <umb-checkbox model="vm.openInNewWindow"
                                      on-change="vm.toggleOpenInNewWindow(model, value)"
                                      text="{{vm.labels.openInNewWindow}}">
                        </umb-checkbox>
                    </umb-control-group>

                    <umb-control-group ng-if="showIncludeChildren && model.target.itemType == 'link'" label="@umbnav_includeChildren">
                        <umb-checkbox model="vm.includeChildren"
                                      on-change="vm.toggleChildren(model, value)"
                                      text="{{vm.labels.includeChildNodes}}">
                        </umb-checkbox>
                    </umb-control-group>
                    <umb-control-group ng-if="showNoopener && model.target.itemType == 'link' || showNoreferrer && model.target.itemType == 'link' || model.target.itemType == 'link'" label="@umbnav_seo">
                        <umb-checkbox ng-if="showNoopener" model="vm.showNoopener"
                                      on-change="vm.toggleshowNoopener(model, value)"
                                      text="{{vm.labels.showNoopener}}"
                                      disabled="model.target.id || model.target.udi">
                        </umb-checkbox>

                        <umb-checkbox ng-if="showNoreferrer" model="vm.showNoreferrer"
                                      on-change="vm.toggleshowNoreferrer(model, value)"
                                      text="{{vm.labels.showNoreferrer}}"
                                      disabled="model.target.id || model.target.udi">
                        </umb-checkbox>
                    </umb-control-group>

                    <umb-control-group label="@umbnav_customClasses"
                                       ng-if="showCustomClasses">
                        <input type="text"
                               localize="placeholder"
                               class="umb-property-editor umb-textstring"
                               ng-model="model.target.customClasses" />
                    </umb-control-group>

                    <umb-control-group label="@umbnav_ImageIconUrl"
                                       ng-if="showImageIcon">
                        <div ui-sortable="sortableOptions" ng-model="model.target.image">
                            <umb-node-preview ng-repeat="link in model.target.image"
                                              icon="link.icon"
                                              name="link.name"
                                              published="link.published"
                                              sortable="!sortableOptions.disabled"
                                              allow-remove="true"
                                              allow-edit="true"
                                              on-remove="remove($index)"
                                              on-edit="edit(link, $index)">
                            </umb-node-preview>
                        </div>
                        <button ng-show="model.target.image.length < 1 || model.target.image.length === 0 || !model.target.image"
                                type="button"
                                class="umb-node-preview-add"
                                ng-click="add()"
                                aria-label="{{labels.general_add}}">
                            <localize key="general_add">Add</localize>
                            <span class="sr-only">...</span>
                        </button>
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="success"
                            label-key="general_submit"
                            state="vm.saveButtonState"
                            action="vm.submit(model)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>

    </umb-editor-view>

</div>