<?xml version="1.0" encoding="utf-8"?>
<Macro Key="447c3f5a-4369-4d6b-9e61-74f0f7a2ccdc" Alias="Login" Level="0">
  <Name>Login</Name>
  <MacroSource>~/Views/MacroPartials/Login.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>